<div id="<%= dom_id drama %>">
  <p>
    <strong>Title:</strong>
    <%= drama.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= drama.overview %>
  </p>

  <p>
    <strong>Air date:</strong>
    <%= drama.air_date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= drama.rating %>
  </p>

  <p>
    <strong>Backdrop:</strong>
    <%= drama.backdrop %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= drama.poster %>
  </p>

</div>
