<%= form_with(model: drama) do |form| %>
  <% if drama.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3><%= pluralize(drama.errors.count, "error") %> prohibited this drama from being saved:</h3>

      <ul>
        <% drama.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mt-4">
    <span class="input-group-text" style="padding-right: 3em;" id="inputGroup-sizing-default">Title</span>
    <%= form.text_field :title, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text">Overview</span>
    <%= form.text_area :overview, rows: 4, class: "form-control", "aria-label": "With textarea" %>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text" style="padding-right: 1.2em;" id="inputGroup-sizing-default">Air Date</span>
    <%= form.text_field :air_date, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text" style="padding-right: 2em;" id="inputGroup-sizing-default">Rating</span>
    <%= form.number_field :rating, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="mt-4">
    <% image_url = drama.backdrop.present? ? "https://image.tmdb.org/t/p/w500#{drama.backdrop}" : "https://source.unsplash.com/random/500x200/?blossom" %>
    <div>
      <img src="<%= image_url %>" class="img-fluid mb-4 drama-backdrop" alt="Backdrop Image for <%= drama.title %>">
    </div>
  </div>
  <div class="input-group mt-1">
    <span class="input-group-text" id="inputGroup-sizing-default">Backdrop</span>
    <%= form.text_field :backdrop, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="mt-4">
    <% image_url = drama.poster.present? ? "https://image.tmdb.org/t/p/w500#{drama.poster}" : "https://source.unsplash.com/random/500x200/?lavender+wallpaper" %>
    <div>
      <img src="<%= image_url %>" class="img-fluid mb-4 drama-image" alt="Poster Image for <%= drama.title %>">
    </div>
  </div>
  <div class="input-group mt-1">
    <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default">Poster</span>
    <%= form.text_field :poster, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text" style="padding-right: 2.4em;" id="inputGroup-sizing-default">Actor</span>
    <%= form.text_field :actor_name, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="mt-4">
    <% image_url = drama.profile_path? ? "https://image.tmdb.org/t/p/w500#{drama.profile_path}" : "" %>
    <div>
      <img src="<%= image_url %>" style="height: auto; width: 100px;" class="img-fluid mb-4" alt="">
    </div>
  </div>
  <div class="input-group mt-1">
    <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default">Portrait</span>
    <%= form.text_field :profile_path, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>


  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" do %>
    Update Drama
    <% end %>
  </div>

<% end %>
