<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible text-center fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="container">
  <div class="d-flex justify-content-between align-items-center my-4">
    <h1 class="text-muted">Dramas</h1>

    <%= link_to search_tmdb_path, class: "btn btn-outline-secondary", role: "button" do %>
    <i class="bi bi-search-heart-fill"></i>
      Search Drama
    <% end %>
  </div>

  <div class="row my-4">
    <% @dramas.each do |drama| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= link_to drama, class: "movie-card-link card-container d-flex align-items-center justify-content-center" do %>
          <article style="width: 100%; height: auto;" class="movie-card my-4">
            <% image_url = drama.backdrop.present? ? "https://image.tmdb.org/t/p/w500#{drama.backdrop}" : "https://source.unsplash.com/random/355x200/?korea" %>
            <div class="card-image">
              <img src="<%= image_url %>" style="height: auto; width: 100%;" alt="Poster Image for <%= drama.title %>">
            </div>
            <div class="content">
              <h1 class="movie-card-title"><%= drama.title %></h1>
              <div class="infos mt-2">
                <%= render partial: 'rating', locals: { drama: drama } %>
                <span>·&nbsp;&nbsp;<%= Time.parse(drama.air_date).strftime("%Y") %></span>
              </div>
              <p class="synopsis"><%= truncate(drama.overview, length: 200) %></p>
            </div>
          </article>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
