<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="container">
    <h1>Search in TMDb</h1>
    <p>Find KDramas and KMovies using TMDb API</p>
    <div class="search-container">
        <%= form_tag search_tmdb_path, method: :get, id: 'tmdb_form' do %>
        <label for="searchDramaName">Drama Name</label>
        <%= text_field_tag 'title', nil, class: "form-control", id: "drama_title_field", placeholder: "Enter Drama Name...", id: "drama_title_field"%> 

        <div class="mt-4">
            <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-outline-secondary col-2' %>
        </div>
        <% end %>
    </div>
</div>

<% if @search_results.present? %>

  <div class="container my-5 col-lg-8 col-md-8 justify-content-center">
    <hr>
    <h2 class="my-4">Search Result</h2>
      <% @search_results.each do |drama| %>
        <div class="m-5 p-5 rounded-3 row"  style="--bs-bg-opacity: 1; background-color: rgba(248,249,250, 1)!important;">
          <div class="col-xl text-center">
            <img src="<%= (drama.backdrop.present? ? 'https://image.tmdb.org/t/p/w500' + drama.backdrop : drama.poster.present? ? 'https://image.tmdb.org/t/p/w300' + drama.poster : 'https://source.unsplash.com/random/500x280/?blush+blossom+wallpaper') %>" class="img-fluid mb-4" alt="Image">
          </div>
          <div class="col-xl">
            <h5 class="text-body-emphasis"><%= drama.title %></h5>
            <h6 class="text-body-secondary" style="color: #6c757d;"><%= drama.air_date %></h6>
            <p class="lead">
              <%= drama.overview %>
            </p>
            <div>
              <%= form_tag add_drama_dramas_path, method: :post do %>
                <%= hidden_field_tag 'drama[backdrop]', drama.backdrop %>
                <%= hidden_field_tag 'drama[title]', drama.title %>
                <%= hidden_field_tag 'drama[overview]', drama.overview %>
                <%= hidden_field_tag 'drama[air_date]', drama.air_date %>
                <%= hidden_field_tag 'drama[poster]', drama.poster %>
                <%= submit_tag 'Add Drama', class: 'btn btn-primary' %>
              <% end %>      
            </div>
          </div>
        </div>
      <% end %>
  </div>
<% end %>