<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible text-center fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<main role="main" class="container my-5">
  <div class="p-5 rounded-3 jumbotron-dark">
    <div class="row">    
      <div class="col-lg-4 col-md-4 text-center">
        <% image_url = @drama.poster.present? ? "https://image.tmdb.org/t/p/w500#{@drama.poster}" : "https://source.unsplash.com/random/300x500/?korea" %>
        <div>
          <img src="<%= image_url %>" class="img-fluid mb-4 drama-backdrop" alt="Poster Image for <%= @drama.title %>">
        </div>
      </div>
      <div class="col-lg-8 col-md-8"><h2 class="card-title">
        <div class="row">
          <h1 class="text-muted"><%= @drama.title %></h1>
          <h6 class="text-muted"><strong><%= @drama.media_type %> ·&nbsp; <%= @drama.country %></strong></h6>
          <h6 class="text-muted"><strong>Release Date:</strong> <%= @drama.air_date.to_date.strftime("%B %d, %Y") %></h6>
          <div class="mb-2"><%= render partial: 'rating', locals: { drama: @drama } %></div>
          <hr class="my-4"> 
          <p class="lead"><%= @drama.overview %></p>          
        </div>
        
        <div class="row align-items-start mt-4">
          <% if @drama.profile_path.present? %>
            <img style="height: auto; width: 100px;" src="https://image.tmdb.org/t/p/w300<%= @drama.profile_path %>" class="img-fluid" alt="Actor Image for <%= @drama.actor_name %>">
          <% end %>  
          <% if @drama.actor_name.present? %>
            <h6 class="text-body-emphasis"><small class="actor-name"><%= @drama.actor_name %></small></h6>
          <% end %>        
        </div>

      </div>
    </div>
  </div>
  <div class="p-5 rounded-3 d-flex justify-content-between" >
    <div class="btn-group">
      <%= link_to edit_drama_path(@drama), class: "btn btn-outline-secondary", role: "button" do %>
      <i class="bi bi-pen"></i>
      <span class="d-none d-sm-inline">Edit</span>
      <% end %>
      <%= link_to dramas_path, class: "btn btn-outline-secondary", role: "button" do %>
      <i class="bi bi-house-door"></i>
      <span class="d-none d-sm-inline">Back to Dramas</span>
      <% end %>
    </div>
    <div>
      <%= button_to @drama, class: 'btn btn-danger', disabled: true do %>
      <i class="bi bi-trash3"></i>
      <span class="d-none d-sm-inline">Delete Drama</span>
      <% end %>
    </div>
  </div>
</main>